<%= link_to "/users/#{post.user.id}/posts/#{post.id}", class: "single-post-link" do %>
<div id="<%= dom_id post %>">
<div class="user-single-post">
  <p class="user-post-title">
    <%= post.title %>
  </p>

  <p class="user-post-body">
    <%= post.text %>
  </p>
  
  <div class="post-comments-likes">
  <p class= "post-comments">Comments: <%= post.comments_counter %></p>
  <p class= "post-likes" >Likes: <%= post.likes_counter %></p>
  
 
  </div>
  </div>

</div>

<% end %>


