
<div class="single-post-info">
<%= render partial: "users/user" , locals: { user: @user } %>

<%= link_to "Add New Post", new_user_post_path %>
 
<div class="post-container">
  <% @posts.includes(:user).each do |post, index| %>
    <%= render post %>
    

      <ul>
        <% post.most_recent_five_comments.each do |comment| %>
          <%= render comment %>

          <% end %>
      </ul>
      <% end %>
</div>



</div>
<div class="pagination-div">

  <%= link_to "Pagination", "", class: "show-all-posts-link pagination"%>
</div>
</div>