<!DOCTYPE html>
<html>
  <head>
    <title>BlogApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">
    <%= stylesheet_link_tag "single_user", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "user_posts", "data-turbo-track": "reload" %>
  </head>

  <body>
    <div>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    </div>
    <div class="list">
        <div class="sign_out">
          <% if user_signed_in? %>
            <div><p>Welcome <%= current_user.name %></p> <p> <%= link_to "edit password", "/users/password/edit" %></div>
            <%= button_to "Logout", destroy_user_session_path, method: :delete, data: { turbo: false }, class:"btn_signout_from" %>
          <% end %>
        </div>
    <%= yield %>
  </body>
</html>
